{% load cms_tags %}
{% load sekizai_tags %}
{% load i18n %}
{% load shop_tags %}
{% load thumbnail %}
{% load humanize %}

{% spaceless %}
    <div class="product product-active-{{ Product.active }}" data-product-slug="{{ Product.slug }}" data-product-active="{{Product.active}}">

      <div class="images">
        <div class="cover">
          <a href="{% url product_detail Product.slug %}">
          {% with Product.productimage_set.all.0 as product_image %}
            <img class="product-field-type-image product-field-{{ product_image.field.name|slugify }}"
                 src="{% thumbnail product_image.value 240x128 crop='crop_and_scale' %}"/>
          {% endwith %}
          </a>
        </div>
      </div>


      <div class="detail">
        <div class="description">

          <div class="header">
            <div class="title">
              <h4>
                <a href="{% url product_detail Product.slug %}">
                {{ Product.name }}</a></h4>
            </div>
          </div>

          <div class="detail">
          </div>

        </div>

      </div>

    </div>
{% endspaceless %}
